<h2>EBA3400 Exercise Set 7: Lists</h2>

<h3>7.1 Operating on lists</h3>

Consider the following list of countries

In [10]:
my_list = ['Spain',['Afghanistan', 'Albania', 'Algeria', 'Andorra'], ['Norway','Nigeria','Nepal']]

Perform the following tasks on my_list
- What is the length of the list? Explain why
- Change 'Spain' to 'Sweden'
- Change Norway to Niger
- Delete the second element of the list
- Append 'Brasil' to the list
- Create a for loop that prints out each of the elements in my_list three times

In [35]:
print('The length of the list is:', len(my_list)) #integrated lists count as one whole element in the list

The length of the list is: 3

In [36]:
my_list[0] = 'Sweden'
my_list

['Sweden',
 ['Afghanistan', 'Albania', 'Algeria', 'Andorra'],
 ['Norway', 'Nigeria', 'Nepal']]

In [37]:
my_list[2][0] = 'Niger'
my_list

['Sweden',
 ['Afghanistan', 'Albania', 'Algeria', 'Andorra'],
 ['Niger', 'Nigeria', 'Nepal']]

In [38]:
del my_list[1]
my_list

['Sweden', ['Niger', 'Nigeria', 'Nepal']]

In [39]:
my_list.append('Brasil')
my_list

['Sweden', ['Niger', 'Nigeria', 'Nepal'], 'Brasil']

In [40]:
for element in my_list:
    print([element] * 3)

['Sweden', 'Sweden', 'Sweden']
[['Niger', 'Nigeria', 'Nepal'], ['Niger', 'Nigeria', 'Nepal'], ['Niger', 'Nigeria', 'Nepal']]
['Brasil', 'Brasil', 'Brasil']

<h3>7.2 Countries and Population</h3>

Consider the following following data on country population

In [2]:
countries = 'Afghanistan Albania Algeria Andorra Angola Antigua Argentina Armenia Australia Austria Azerbaijan'
population = '37209007 2938428 42679018 missing 31787566 104084 45101781 2936706 25088636 8766201 10014575'

- Create lists of both the country variable and the population variable
- There is a missing value for the population in Andorra. Change it to '77072'.
- Convert the population variable to numerical (floating) values
- Which country is found at index position 6? What is the population of this country?
- How many countries are represented in the data?
- What is the average population?
- What is the largest and smallest population?

Answer all the above using built-in Python functions.

In [3]:
count = countries.split()
popu = population.split()
popu[3] = 77072
for i in range(0,len(popu)):
    popu[i] = float(popu[i]) 

print(count)
print(popu)
print('The country on the index position 6 is:', count[6], ', And its population is:', popu[6])
print('The number of countires represented in the data is: ', len(count))
print('The average population is:',sum(popu)/len(popu))
print('The largest population is: ', max(popu), ', And the smallest population is: ', min(popu))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan']
[37209007.0, 2938428.0, 42679018.0, 77072.0, 31787566.0, 104084.0, 45101781.0, 2936706.0, 25088636.0, 8766201.0, 10014575.0]
The country on the index position 6 is: Argentina , And its population is: 45101781.0
The number of countires represented in the data is:  11
The average population is: 18791188.545454547
The largest population is:  45101781.0 , And the smallest population is:  77072.0

<h3>7.3 Delete function</h3>

Write a function that always deletes the first two elements of a list. Apply the function to the lists in Exercise 7.1 and 7.2 to verify that it works.

In [53]:
def del_2(list_name):
    del list_name[:2]

In [54]:
del_2(my_list)
my_list

[['Norway', 'Nigeria', 'Nepal']]

In [55]:
del_2(count)
count

['Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan']

In [56]:
del_2(popu)
popu

[42679018.0,
 77072.0,
 31787566.0,
 104084.0,
 45101781.0,
 2936706.0,
 25088636.0,
 8766201.0,
 10014575.0]

<h3>7.4 Chop function</h3>

Write a function called chop that takes a list and modifies it, removing the first and last elements. Verify using the country list in Exercise 7.2.

In [8]:
def chop(list_name):
    for element in list_name:
        list_name.pop(0)
        list_name.pop(-1)

In [14]:
chop(count)
count

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria']

In [15]:
# OR
def chop(x):
    x.pop(0)
    x.pop(-1)
chop(count)
count

['Algeria',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Australia']

<h3>7.5 Strip function</h3>

Given the unstructured list of countries

In [2]:
list_countries_unstructured = ['    NoRWAy', '    SwedEN     ', 'DenmaRK', ' IcELAND', '         FINLAND']

Create a function that returns tidy data, with an uppercase initial letter (e.g. Norway) and no uneccessary spaces.

In [5]:
def tidy(list_name):
    for i in range(len(list_name)):
        list_name[i] = list_name[i].strip()
        list_name[i] = list_name[i].capitalize()
    return(list_name)
    
tidy(list_countries_unstructured)

['Norway', 'Sweden', 'Denmark', 'Iceland', 'Finland']

<h3>7.6 Counting the unique words in a paragraph</h3>

Consider the following paragraph from Romeo and Juliet

In [17]:
romeo_text = 'But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief'

Perform the following tasks
- Make all words lowercase
- Split the text into a list of words using the split function
- For each word, check to see if the word is already in a list of unique words. If the word is not in the list, add it to the list. 
- Sort and print the resulting words in alphabetical order.
- How many words are there in the full paragraph? How many of those words are unique?

In [19]:
romeo = romeo_text.lower()
romeo

'but soft what light through yonder window breaks it is the east and juliet is the sun arise fair sun and kill the envious moon who is already sick and pale with grief'

In [20]:
romeo_list = romeo_text.split()
romeo_list

['But',
 'soft',
 'what',
 'light',
 'through',
 'yonder',
 'window',
 'breaks',
 'It',
 'is',
 'the',
 'east',
 'and',
 'Juliet',
 'is',
 'the',
 'sun',
 'Arise',
 'fair',
 'sun',
 'and',
 'kill',
 'the',
 'envious',
 'moon',
 'Who',
 'is',
 'already',
 'sick',
 'and',
 'pale',
 'with',
 'grief']

In [21]:
unique = []
for word in romeo_list:
    if word not in unique:
        unique.append(word)
unique

['But',
 'soft',
 'what',
 'light',
 'through',
 'yonder',
 'window',
 'breaks',
 'It',
 'is',
 'the',
 'east',
 'and',
 'Juliet',
 'sun',
 'Arise',
 'fair',
 'kill',
 'envious',
 'moon',
 'Who',
 'already',
 'sick',
 'pale',
 'with',
 'grief']

In [22]:
unique.sort()
unique

['Arise',
 'But',
 'It',
 'Juliet',
 'Who',
 'already',
 'and',
 'breaks',
 'east',
 'envious',
 'fair',
 'grief',
 'is',
 'kill',
 'light',
 'moon',
 'pale',
 'sick',
 'soft',
 'sun',
 'the',
 'through',
 'what',
 'window',
 'with',
 'yonder']

In [23]:
print('Total number of words: ', len(romeo_list))
print('Unique words: ', len(unique))

Total number of words:  33
Unique words:  26